// Typefaces
$headerfont: Lato, Arial, sans-serif;
$bodyfont: Open Sans, Arial, sans-serif;

// Base font settings - see base/_typograph.scss for responsive adjustsments
$basetextsize: 12px;
$baselineheight: 1.5em;
$headerlineheight: 1.2em;

// Default margins for text elements
$textmargin: 0 0 .5em;
